build-*
vcpkg_installed
.vscode/compile_commands.json
sysimage*
.vscode/*.db*
.vscode/*.DB*
*.img
*.bin
autogen
*.html
*.log
.temp

#
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
config.h
CPackConfig.cmake
CPackSourceConfig.cmake
*.so
*.a
*.dll
*.exe
*.o
*.obj
Makefile
*Config.cmake
*ConfigVersion.cmake
.cmake
.qtc*
*_autogen
*.dist
Testing/
